@if(dailyExpenses.length > 0){
  <div class="border">
    <p>Category: Amount</p>
    <p>--------------------</p>
    @for(dailyExpense of dailyExpenses; track dailyExpense.id){
    <p>{{ dailyExpense.category }}: {{ dailyExpense.amount | currency }}</p>
    }
  </div>

  <canvas baseChart
  [type]="'pie'"
  [datasets]="pieChartDatasets"
  [labels]="pieChartLabels"
  [options]="pieChartOptions"
  [plugins]="pieChartPlugins"
  [legend]="pieChartLegend">
</canvas>
}
@else{
  <p>No expenses for this day</p>
}


