@if(dailyExpenses.length !== 0){
<div class="day-summary-detail">
  <div class="expense-breakdown border">
    <p-table [value]="dailyExpenses" [responsiveLayout]="'scroll'">
      <ng-template pTemplate="header">
        <tr>
          <th>Category</th>
          <th>Amount</th>
          <th *ngIf="day === 'Total'">Day</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-expense>
        <tr>
          <td>{{ expense.category }}</td>
          <td>{{ expense.amount | currency }}</td>
          <td *ngIf="day === 'Total'">{{ expense.day }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="pie-chart-container">
    <canvas baseChart
      [type]="'pie'"
      [datasets]="pieChartDatasets"
      [labels]="pieChartLabels"
      [options]="pieChartOptions"
      [plugins]="pieChartPlugins"
      [legend]="pieChartLegend">
    </canvas>
  </div>
</div>
}
@else{
  <p>No expenses for this day</p>
}


