.border {
  padding: 10px;
  margin-top: 10px;
}

.p {
  margin: 5px 0;
  font-size: 1em;
  color: #555;
}

.p:last-child {
  margin-bottom: 0;
}

.day-summary-detail {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.expense-breakdown {
  flex: 1;
  margin-right: 20px;
}

.pie-chart-container {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  max-width: 100%;
  max-height: 100%;
}
