@if(dailyExpenses.length !== 0){
<div class="day-summary-detail">
  <div class="expense-breakdown border">
    <p>Category: Amount</p>
    <p>--------------------</p>
    <p *ngFor="let dailyExpense of dailyExpenses">
      {{ dailyExpense.category }}: {{ dailyExpense.amount | currency }}
    </p>
  </div>
  <div class="pie-chart-container">
    <canvas baseChart
      [type]="'pie'"
      [datasets]="pieChartDatasets"
      [labels]="pieChartLabels"
      [options]="pieChartOptions"
      [plugins]="pieChartPlugins"
      [legend]="pieChartLegend">
    </canvas>
  </div>
</div>
}
@else{
  <p>No expenses for this day</p>
}


