$primary-color: #007bff;
$primary-color-dark: #0056b3;

.p-d-flex.p-jc-center {
  justify-content: center;
  display: flex;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  background-color: #fff;
  margin: 5px 0;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 70%;
  color: #000;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(90deg, $primary-color, $primary-color);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;

  &:hover {
    background: linear-gradient(90deg, $primary-color-dark, $primary-color-dark);
    box-shadow: 0 4px 16px rgba(0, 123, 255, 0.12);
    transform: scale(1.07);
  }

  &:active {
    transform: scale(0.98);
    box-shadow: none;
  }
}
