<form (submit)="addExpense(); $event.preventDefault()" class="p-d-flex p-flex-column">
  <input
    type="text"
    [(ngModel)]="category"
    name="category"
    placeholder="Category"
    required
  />
  <input
    type="number"
    [(ngModel)]="amount"
    name="amount"
    placeholder="Amount"
    required
  />
  <div class="p-d-flex p-jc-center p-mt-2">
    <button
      pButton
      type="submit"
      label="Add Expense"
      class="p-button-sm"
    > Add Expense</button>
  </div>
</form>
