<div class="day-selector">
  <button pButton icon="pi pi-angle-left" (click)="goToPrevious()" class="p-button-rounded p-button-text p-mx-1"> < </button>

  <button
    *ngFor="let day of days"
    pButton
    [class.p-button-outlined]="day !== currentDay"
    [class.p-button-secondary]="day === currentDay"
    [routerLink]="'/' + day"
    class="p-mx-1"
  >{{ day }}</button>

  <button pButton icon="pi pi-angle-right" (click)="goToNext()" class="p-button-rounded p-button-text p-mx-1"> > </button>
</div>
