<div>
  <h1>Expense Tracker</h1>

  <app-day-selector
    [currentDay]="expenseService.currentDay"
    (daySelected)="expenseService.selectDay($event)"
  ></app-day-selector>

  @if(expenseService.currentDay === 'Total'){
  <app-summary [summary]="expenseService.getWeeklySummary()"></app-summary>
  } @else {
  <app-expense-form
    (expenseAdded)="expenseService.addExpense($event)"
  ></app-expense-form>

  <app-expense-list
    [expenses]="expenseService.expenses[expenseService.currentDay]"
    (expenseDeleted)="
      expenseService.deleteExpense(expenseService.currentDay, $event)
    "
  ></app-expense-list>
  }
</div>
